    /*
Dev     Kalin Bowden
Date:   
*/
    
    body 
    {
        background-color: green;
        margin: 0;
        color: whitesmoke;
    }
    
    .container-fluid 
    {
        padding: 0;
    }
    
    header 
    {
        background: linear-gradient(135deg, purple, orangered);
        height: 75em;
    }
    
    h1
    {
        font-family: 'Audiowide', cursive;
        font-size: 20em;
        margin-left: .2em;
    }
    
    .formRow 
    {
        margin-top: 3.5em;
        padding: 5em;
        background: linear-gradient(130deg, gray, dimgray);
        border-radius: 25px;
    }
    
    .myForm {}
    
    .myForm-Quest {
        margin-bottom: 2.5em;
    }
    
    .formSep {
        border-bottom-color: lightgray, black;
        border-bottom-style: inset;
        border-bottom-width: .1em;
        padding: 1.5em;
    }

    .btn-lg
    {
        font-size: 8em;
        text-align: center;
        width: 6em;
        margin-top: 1em;
        border-style: block;
        border-color: whitesmoke;
        border-radius: 1em;
        border-width: .1em;
        background: transparent;
        color: whitesmoke;
    }

    .formRowMain
    {
        background: linear-gradient(-45deg,purple,orangered);
        padding-bottom: 3.5em;
    }


    #light0
    {
        border:  .2em solid black;
        border-radius: 150px;
        background-color: greenyellow;
        height: 300px;
        width:300px;
        margin: 3em;
        margin-left: 10%;
        background: radial-gradient(red, darkred);
    }

    #light1
    {
        border:  .2em solid black;
        border-radius: 150px;
        background-color: greenyellow;
        height: 300px;
        width:300px;
        margin: 3em;
        background: radial-gradient(gold,darkgoldenrod);
        /*background: radial-gradient(yellow, yellow, gold);*/
    }

    #light2
    {
        border:  .2em solid black;
        border-radius: 150px;
        background-color: greenyellow;
        height: 300px;
        width:300px;
        margin: 3em;
        background: radial-gradient(greenyellow,darkgreen,darkgreen);
        
    }


    #charSelect
    {
        background-color: dimgray;
        height: 70em;
        display: none;
    }


    #signInForm
    {
        display: none;
    }


    #race
    {
        
    }


    #race1
    {
        background-image: url("images/l1.png");
        height: 70em;
        display: none;
        background-repeat: repeat-x;
        background-size: cover;
        z-index: 0;
    }


    #race2
    {
        background-image: url("images/tile.png");
        height: 10em;
        display: none;
        background-repeat: repeat-x;
        z-index: 3;
    }

    .spanGylf
    {
        padding: .1em;
    }

    #go
    {
        margin-top: 2.5em;
        height: 150px;
        width: 150px;
        color: greenyellow;
        border-radius: 75px;
        border-width: .3em;
        border-color: dimgray;
        background: radial-gradient(lightcoral,red);
    }

    #test0
    {
        position: absolute;
        top: 225px;
        left: 0px;
        z-index: 2;
    }

    #test1
    {
        position: absolute;
        top: 425px;
        left: 0px;
        z-index: 2;
    }


    #finish
    {
        position: relative;
        height: 138px;
        right: 0px;
        opacity: .0;
    }

    #rand
    {
        z-index: 1;
        position: absolute;
        left: 250%;
        bottom: 135px;
    }

    #charSel
    {
        border: 7px solid black;
        border-left-width: 0;
        border-right-width: 0;
        background-color: rgba(105,105,105, 0.7);
        margin-top: 3.5em;
        z-index: 2;
    }

    .selectChar
    {
        
    }

    #char0
    {
        opacity: 1;
    }

    #charArrowLeft, #charArrowRight
    {
        font-size: 20em;
        text-align: center;
    }


    #charName
    {
        font-family: 'Boogaloo', cursive;
        font-size: 2.5em;
        color:blue;
        text-shadow: skyblue 5px 5px 5px;
    }